{% extends 'base.html' %}

{% load static %}

{% block content %}

<center>
    <h2 style="background-color: rgb(223, 189, 221);">PROFIL</h2> 
</center>

    <body>
        <justify>
            <p style="font-family: 'Sitka Heading'">Q! LEARN merupakan layanan pembelajaran matematika yang menyajikan materi, latihan, dan vidio pembelajaran. Pada halaman web kali ini di khususkan hanya untuk penyajian materi Trignometri kelas X SMA. Layanan Q! LEARN akan menyajikan materi-materi lengkap mengenai Trigonometri, vidio pembelajaran Trigonometri, dan berbagai latihan-latihan Trigonometri sebagai penguatan atas pengulasan materi ini.</p>
        </justify>
    </body>

    <center>
        <div class="img">
            <img src="{% static 'img/img-profil.jpeg' %}" width="200px">
        </div>
    </center>

    <center>
        <h2 style="font-family: 'Sitka Heading'">HI, ASSALAMUALAIKUM.</h2>
        <p style="font-family: 'Sitka Heading'">Nama : Aulyanissa Tsaqifa Maharshall</p>
        <p style="font-family: 'Sitka Heading'">NIM : 2225210032</p>
        <P style="font-family: 'Sitka Heading'">Kelas : 3A</p>
    </center>
    
{% endblock %}